@import url("https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Slackside+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Klee+One:wght@400;600&family=Tsukimi+Rounded:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");
/*전체 속성자*/
body,
html {
  width: 100%;
  height: 100vh;
}
/* html {
  -webkit-overflow-scrolling: touch;
} */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

/*container*/
.container {
  width: 100%;
  height: 100%;
}

.category {
  width: 100%;
  height: 100%;
  overflow: auto;
  scroll-snap-type: y mandatory;
  display: flex;
}
/*main1*/
.main1 {
  width: 88%;
  height: 100%;
  scroll-snap-align: center;
}
.logo {
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
  position: sticky;
  top: 0;
  z-index: 20;
}
.hometext {
  height: 100%;
  padding: 250px 60px 200px;
  font-family: "Klee One";
  font-size: 1.6rem;
}
.home_text::selection {
  color: #ffffff; /* 원하는 텍스트 반전 색상 설정 */
  background-color: #b90808; /* 원하는 배경 반전 색상 설정 */
}

.home_text {
  min-height: 100%;
  padding-right: 400px;
  display: inline-block;
}

.home_text span {
  transition: font-size 0.1s ease-in-out;
}

.wavetext {
  display: inline-block;
}

.wavetext::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100%' height='100%' viewBox='0 0 100 1'><path d='M0 0 Q 12.5 4, 25 0, 37.5 -4, 50 0, 62.5 4, 75 0, 87.5 -4, 100 0' stroke='%23000' stroke-width='1' fill='none'/></svg>");
  animation: waveAnimation 10s linear infinite;
}
.wavetext::selection {
  color: #ffffff;
  background-color: #000000;
}
@keyframes waveAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

/*main2*/
.main2 {
  height: 100%;
  scroll-snap-align: center;
}

.MountFuji {
  left: 40px;
  z-index: 0;
}
.fuji {
  font-size: 3rem;
  writing-mode: vertical-rl;
  right: 20px;
  top: 20px;
}
.fuji::selection {
  color: #ffffff; /* 원하는 텍스트 반전 색상 설정 */
  background-color: #b90808; /* 원하는 배경 반전 색상 설정 */
}

/*main3*/
.main3 {
  height: 100%;
  scroll-snap-align: center;
}
.whattoeat {
  top: 20px;
  left: 20px;
  font-family: "Klee One";
  font-size: 2.5rem;
  padding: 5px;
  writing-mode: vertical-rl;
}
.restaurant {
  filter: grayscale(80%);
  right: 0px;
}

.operation {
  font-family: "Space Mono";
  font-size: 1rem;
  left: 23%;
  bottom: 6%;
}

/*main4*/
.main4 {
  height: 100%;
  scroll-snap-align: center;
}
.texts {
  height: 60%;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  top: 4%;
  left: 10%;
}

.text1 {
  font-size: 2rem;
  font-family: "Slackside One";
  display: inline-block;
  height: 50px;
  padding: 30px 100px 0 100px;
}

.text2 {
  font-family: "Space Mono";
  font-size: 3rem;
  padding: 0 30px;
  text-align: center;
}

.dashcontainer {
  top: 50%;
  width: 95%;
  font-size: 2.5rem;
  font-family: "Klee One";
  font-weight: 100;
  overflow: hidden;
  white-space: nowrap;
  color: #000000ab;
}
.dashcontainer2 {
  top: 80%;
  width: 95%;
  font-size: 2.5rem;
  font-family: "Klee One";
  font-weight: 100;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.63);
}

.dashedline {
  animation: textLoop 30s linear infinite;
}
.dashedline::before {
  content: "=========================================";
}

@keyframes textLoop {
  0% {
    transform: translateX(-80%);
  }
  100% {
    transform: translateX(0%);
  }
}
.dates {
  top: 65%;
  font-family: "Space Mono", "Klee One";
  font-size: 1rem;
  left: 10%;
}

.date {
  flex-direction: column;
  text-align: center;
  padding: 0 50px;
}
/*footer*/
.footer {
  bottom: 2%;
  position: sticky;
  font-family: "Space Mono";
  font-size: 0.7rem;
  color: #000000a1;
  text-align: center;
}
/*사이드바*/

.sd {
  width: 4%;
  height: 100%;
  position: sticky;
  top: 0;
  transform: translateY(-100%);
  writing-mode: vertical-rl;
  font-family: "Tsukimi Rounded";
  font-size: 1.1rem;
  color: #fff;
}

.sd.transition-effect {
  transition: opacity 1.2s ease, transform 1.2s ease, color 0.5s, font-size 0.5s;
}

.sd:hover {
  color: rgb(87, 101, 38);
  font-size: 1.3rem;
}

.food {
  background-color: #dad6c7;
  color: #000000;
}

.retail {
  background-color: #9e9e9e;
}

.community {
  background-color: #000000;
}
